
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Anton&family=Libre+Baskerville:wght@700&display=swap');
    *{
        margin: opx;
        padding: 0px;
    }
 
    .wripper{
        width: 1170px;
        margin: auto;
        display: inline;
    }
    header{
        background: url('img/ilustrasi-peta-sebaran-small.jpg');
        height: 100vh;
        -webkit-background-size:cover;
        background-size : cover;
        background-position: center center;
        position: relative;
    }

    .menu{
        position: fixed;
        width: 100%;
        background-color: rgba(3, 3, 105, 0.767);
        text-align: right;
        list-style: none;
        margin-top: 0px;
    }

    .menu li{
        display: inline-block;
    }
    .menu li a{
        text-decoration: none;
        color : white;
        padding: 6px 21px;
        font-family: poppins;
        font-size: 20px;
    }
    nav li a:hover{
        background: white;
        color : black;
        border-radius: 10px;
    }
    .logo img{
        width: 250px;
        float: left;
        height: auto;
 
    }
    body{
        margin: 0px;
    }

    
   
/* -------------------------------------------- */





    */


* {
    box-sizing: border-box;
 }
 

footer {
    padding: 20px;
    color: white;
    background-color: rgba(3, 3, 105, 0.767);
    text-align: center;
    font-weight: bold;
 }
 
body{
    font-family: 'Quicksand', sans-serif ;
    margin: 0;
    padding: 0;

 
}
main {
    padding: 20px;
    overflow: auto;
    
 }


h2,h3{
    color: rgb(13, 13, 172);
}

.featured-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
 }
 .profile img {
    width: 200px;
 }

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 1px 15px 10px 15px;
    margin-top: 20px;
    text-align: justify;
}
@media screen and (max-width: 1000px) {
    #content,aside {
        width: 100%;
        padding: 0;
    }

 }
 .card ul{
    padding-left: 40px;
 }
 .card img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 500px;
 }
 


/* --------------------------------------------------------- */
.kataHeader{
    position: absolute;
    margin-top: 20%;
    margin-left: 10px;
    font-family: 'Open Sans', sans-serif;
}
/* ------------------------------------------------------------ */

.flex-column {
    display: flex;
    flex-direction: column;

    /* properti lainnya */
    width: 800px;
    height: 300px;
    padding: 20px;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #11C5C6;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    /* properti lainnya */
    padding: 20px;
    margin: 5px;
    background-color: rgba(3, 3, 105, 0.767);
    border: 2px solid white;
    border-radius: 10px;
}

.box {
    flex-grow: 1;

    /* properti lainnya */
    margin: 5px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: black;
    opacity: 80%;
    text-align: left;
    color: white;
    width: auto;

}
.beda{
    font-family: 'Libre Baskerville', serif;
    color: white;
    margin-right: 560px;
    font-size: 20px;
}
@media screen and (max-width: 1320px) {
    .beda{
        margin-right: auto;
    }
    .menu{
        margin: auto;
        padding: auto;
        font-size: auto;
    }
}
@media screen and (max-width: 1320px) {
    .menu{
        opacity: 100%;
    }
}
h1{
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}


aside {
    float:right;
    width: 24%;
    margin: 1px;

 }


 #covid{
     float: left;
     width: 75%;
 }
div figure{
    overflow: auto;
}